.button {
  border: 0;
  background-color: #1e8ba8;
  border-radius: 3px;
  color: white;
  padding: 7px 20px;
  font-size: 16px;
  transition: background-color 100ms ease;
  cursor: pointer;
}
.button:hover {
  background-color: #229dbe;
}
