@import "Styles/variables/index";

.notification-popup {
  padding: 10px 30px;
  background: $color-base;
  color: white;
  border-radius: 3px;
  font-size: 15px;
  width: 300px;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;


  &--message {}
  &--error {
    background-color: #ff687e;
  }
}