@page "/"
@inject EventBus _eventBus

<PageTitle>Forse Shop | Forside</PageTitle>

<div class="home">
    <h1>Forside</h1>
    <div class="home__shortcuts">
        <NavLink href="@Routes.Products">Produkter</NavLink>
        <NavLink href="@Routes.NewProduct">Nytt Produkt</NavLink>
    </div>
</div>

@code {

    

}

