<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red {
            background: red;
        }

        .blue {
            color: white;
            background: blue;
        }
    </style>
</head>

<body>

<section id="shared">
    <label for="shared_font_weight">Font weight</label>
    <input id="shared_font_weight" type="text" v-model="style.fontWeight">
    <label for="shared_font_size">Font size</label>
    <input id="shared_font_size" type="text" v-model="style.fontSize">
</section>

<section id="app1">
    <h1>APP #1</h1>
    <div>
        <button @click="toggleClass">Switch Color</button>
        <div :class="cssClass" :style="shared.style">Disco</div>
    </div>
</section>

<section id="app2">
    <h1>APP #2</h1>
    <div>
        <button @click="toggleClass">Switch Color</button>
        <div :class="cssClass" :style="shared.style">Disco</div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    /*
        # Oppgave

        1)  La createVue metoden ta i mot et argument

        2)  Inkluder argumentet i det returnerte dataobjektet.

        3)  Kall metoden createVue(shared) to ganger og $mount() vue instansene til hver sin section#app1 og section#app2.

        4)  Se om alt funker som det skal.
            Legg merke til at font-weight og font-size påvirker både #app1 og #app2, mens bakgrunnsfargen
            er internt for begge.

     */


    function createVue(shared) {
        return new Vue({
            data() {
                return {
                    shared,
                    cssClass: "red"
                }
            },
            methods: {
                toggleClass() {
                    this.cssClass = this.cssClass === "red" ? "blue" : "red";
                }
            }
        });
    }

    // Shared state..
    var sharedState = {
        style: {
            fontWeight: "bold",
            fontSize: "100px"
        }
    };
    new Vue({
        el: "#shared",
        data: sharedState
    });


</script>
</body>

</html>