<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red {
            background: red;
        }

        .blue {
            color: white;
            background: blue;
        }
    </style>
</head>

<body>

<section id="fontStylePanel">
    <label>
        Font weight
        <input type="text" v-model="style.fontWeight">
    </label>
    <label>
        Font size
        <input type="text" v-model="style.fontSize">
    </label>
</section>

<section id="app1">
    <h1>APP #1</h1>
    <div>
        <button @click="toggleClass">Switch Color</button>
        <div :class="cssClass">Disco</div>
    </div>
</section>

<section id="app2">
    <h1>APP #2</h1>
    <div>
        <button @click="toggleClass">Switch Color</button>
        <div :class="cssClass">Disco</div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

/*
    # Oppgave

    1)  Bruk createVue metoden til å instansiere to vue instanser.
        mount hver av de til hver sin div#app, bruk $mount metoden.

    2)  Inkluder fontStyle state'en i #app1 og #app2 vue instansene.

    3)  Fiks malen slik at font stilen påvirker teksten "Disco"

 */

    function createVue() {
        return new Vue({
            data() {
                return {
                    cssClass: "red"
                }
            },
            methods: {
                toggleClass() {
                    this.cssClass = this.cssClass === "red" ? "blue" : "red";
                }
            }
        });
    }

    // Shared state..
    var fontStyle = {
        style: {
            fontWeight: "bold",
            fontSize: "100px"
        }
    };

    new Vue({
        el: "#fontStylePanel",
        data: fontStyle
    });

</script>
</body>

</html>