::deep .shopping-cart {
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-block;
}
::deep .shopping-cart__icon img {
  display: block;
  width: 25px;
  height: 25px;
}
::deep .shopping-cart__count {
  position: absolute;
  right: -7px;
  top: -7px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  border-radius: 100px;
  color: white;
  background: #1e8ba8;
}
::deep .shopping-cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: 100ms background-color;
}
::deep .shopping-cart:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}
